body{
    background-color: #F1F1F1;/* #0073aa*/;
}
h2 img{
    width: 150px;
    height: 150px;
    vertical-align: middle;
}
.image-full{
    width: auto;
    height: auto;
    max-height: 100%;
}

.img-height-full{
    height: 100%;
}
@media only screen and (max-width: 770px) {
    .image-full{
        display: none;
    }
    .img-height-full{
        height: auto;
    }
}